{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    <div class="robin-pro" id="{{ block.settings.gallery_id }}"></div>
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Robin PRO Image Gallery",
    "blocks": [
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "label": "Gallery",
            "type": "select",
            "id": "gallery_id",
            "options": [
{
  "value": "9f1dc62d-c7cf-4303-9a51-2f542397dfac",
  "label": "Photo Gallery"
}
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Galleries",
        "category": "Robin PRO Image Gallery App",
        "settings": {}
      }
    ]
  }
{% endschema %}